body {
    background-image: url("http://wallpapercave.com/wp/tGRAFn4.jpg");
}
.gems{
	clear: both;
}
.gemImage{
	height: 300px;
	width: 300;
	margin: 75px;
}
h1 {
    text-align: center;
}
h2 {
	text-align: center;
}

h3 {
	text-align: center;
}

li {
	text-align: center;
}
ul {
	text-align: center;
}
.footer {
  height: 50px;
  text-align: center;
}

  
